<div class="row">
    <div class="col-sm-12">
      <div class="statistics-details d-flex align-items-center justify-content-between">
        <div>
          <p class="statistics-title">Membres</p>
          <h3 class="rate-percentage">{{nbMembres}}</h3>
          <!-- <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>-0.5%</span></p> -->
        </div>
        <div>
          <p class="statistics-title">Publications</p>
          <h3 class="rate-percentage">{{nbPubs}}</h3>
          <!-- <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p> -->
        </div>
        <div>
          <p class="statistics-title">Outils</p>
          <h3 class="rate-percentage">{{nbOutils}}</h3>
          <!-- <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p> -->
        </div>
        <div class="d-none d-md-block">
          <p class="statistics-title">Evenements</p>
          <h3 class="rate-percentage">{{nbEvents}}</h3>
          <!-- <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p> -->
        </div>
        
      </div>
    </div>
  </div> 