    <header id="head">
        <div class="container">
            <div class="row">
                <h1 class="lead">Project Web Spring Boot Angular </h1>
                <p class="tagline">Page de Choix de roles</p>
                <p class="tagline"> Vous pouvez choisir votre role pour acceder aux pages  </p>
            </div>
        </div>
    </header>
    <div class="jumbotron top-space">
        <div class="content-wrapper">
         <div class="row">
              <div class="home-tab">     
                  <div style="text-align: center ">
                      <div class="row">
                          <div class="col-md-16">
                             <div class="template-demo">
                                <button type="button" class="btn btn-danger btn-lg" (click)="admin()">Admin</button>
                                <button type="button" class="btn btn-warning btn-lg">Member</button>
          
                                <button type="button" class="btn btn-info btn-lg " (click)="visitor()" >Visiteur</button>
                              </div>     
                          </div>
                        </div>
                    </div>
                  </div>
                    </div>
                    </div>
                    </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <footer id="footer" class="footer" style="width: 100vw;">
  
    <div class="footer1">
      <div class="container">
        <div class="row">
          
          <div class="col-md-3 widget">
            <h3 class="widget-title">Contact Developper</h3>
            <div class="widget-body">
              <p>+216 55 706 653<br>
                <a href="mailto:#">enis@gmail.com</a><br>
                <br>
                Tunis - Tunis - Tunis
              </p>	
            </div>
          </div>

          

          <div class="col-md-6 widget">
            <h3 class="widget-title">Information sur cette application</h3>
            <div class="widget-body">
              <p> Réalisation d'une application Web pour la gestion d' un

                laboratoire de recherche </p>
              
            </div>
          </div>

                    
        </div> <!-- /row of widgets -->
      </div>
    </div>

    <div class="footer2">
      <div class="container">
        <div class="row">
          
          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="simplenav">
                <a routerLink="home" routerLinkActive="active">Accueil</a> | 
                <b><a routerLink="admin-register" routerLinkActive="active">Sign up</a></b>
              </p>
            </div>
          </div>

          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="text-right">
                Copyright &copy; 2014, @MedFarouk. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a> 
              </p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>

  </footer>	
 