
<div class="container-scroller"> 
  <!-- partial:partials/_navbar.html -->
  <app-navbar></app-navbar>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    <app-sidebar></app-sidebar>
    <!-- partial -->
    <!-- partial:partials/_sidebar.html -->
    
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-sm-12">
            <div class="home-tab">
              <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <div>
                  <div class="btn-wrapper">
                    <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                    <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                    <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                  </div>
                </div>
              </div>
              <div class="tab-content tab-content-basic">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                <!-- number details -->
                  <app-numbers></app-numbers>
                <!-- number details -->
                <router-outlet></router-outlet>
                <div style="text-align: center ">
                  <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card-body">
                            <h2 class="card-title">Ajouter un  Member :</h2>
                            <div class="template-demo">
                              <button type="button" class="btn btn-warning btn-lg" (click)="addEtudiant()">Etudiant</button>
                              <button type="button" class="btn btn-success btn-lg" (click)="addEnseignant()">Enseignant</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->
<footer class="footer">
<div class="d-sm-flex justify-content-center justify-content-sm-between">
<span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
</div>
</footer>
<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>